body{
	background: #333333;
	font-family: "Berlin Sans FB", sans-serif;
}

h1, h2, h3, h4, h5, h6{
	margin	: 0;
	padding	: 0;
}

/*p{*/
	/*font-size: 16px;*/
/*}*/

.pad-news{
	/*padding-left: 0px;*/
	padding-right: 40px;
}

.f-yellow{
	color: yellow;
}.b-yellow{
	 background-color: yellow;
 }

.f-black{
	color: black;
}.b-black{
	 background-color: black;
 }

.f-blue{
	color: blue;
}.b-blue{
	background-color: blue;
}

.f-white{
	color: white;
}.b-white{
	background-color: white;
}

.f-bbbbbb{
	color: #bbbbbb;
}.b-bbbbbb{
	background-color: #bbbbbb;
}

.f-green{
	color: green;
}.b-green{
	background-color: green;
}
.f-crimson{
	color: crimson;
}.b-crimson{
	background-color: crimson;
}

.border-black, .border-black th, .border-black tr, .border-black tr td{
	 border: 1px solid black;
}
.border-crimson, .border-crimson th, .border-crimson tr, .border-crimson tr td{
	 border: 1px solid crimson;
}

.underline{
	text-decoration: underline;
}

.margin-bottom{
	margin-bottom: 5px;
}

.pad-3-20{ /* Donate Button : Dropdown Menu Item */
	padding: 3px 20px !important;
}

.padding-left-0{
	padding-left: 0;
}

.padding-right-0{
	padding-right: 0;
}

.padding-top-0{
	padding-top: 0;
}

.padding-bottom-0{
	padding-bottom: 0;
}

.btn{
	margin-bottom: 5px !important;
}

.width-100-perc{
	width: 100% !important;
}

.pic{
	width: 100%;
}

.no-border{
	border: none !important;
}

.display{
	display: block;
}
.no-display{
	display: none;
}
.no-outline{
	outline: none !important;
}
.no-margin{
	margin: 0 !important;
}
.no-padding{
	padding: 0 !important;
}

.pointer{
	cursor: pointer;
}

.pad-2px{
	padding: 2px !important;
}
.pad-5px{
	padding: 5px !important;
}

.pad-10px{
	padding: 10px !important;
}

.pad-5-10{
	padding: 5px 10px !important;
}

.pad-5-20{
	padding: 5px 20px !important;
}

.border-e6e4e4{
	border: 1px solid #e6e4e4;
}

.opacity-07{
	opacity: 0.7;
}

.margin-2px{
	margin: 2px !important;
}
.margin-left-5{
	margin-left: 5px;
}
.margin-top-15px{
	margin-top: 15px;
}

.margin-bottom-10{
	margin-bottom: 10px !important;
}

.normal-font{
	font-weight: normal;
}

.bold-font{
	font-weight: bold;
}

.berlin-font{
	font-family: "Berlin Sans FB", sans-serif;
}

.font-size-15{
	font-size: 15px;
}

.font-size-20{
	font-size: 20px;
}

.font-size-25{
	font-size: 25px;
}

.font-size-35{
	font-size: 35px;
}

.darker-well{
	background-color: black;
	border-color: black;
	color: #f4f1f1;
}

.dark-button{
	background-color: #666666;
	border-color: #666666;
	color: #f4f1f1;
}


.btn-focused{ /* Top Menu Bar - Buttons */
	background-color: crimson;
	border-color: #666666;
	color: white !important;
}

.carousel-extra-height{ /* Carousel Slide Motion Glitch : Temporary Solution */
	overflow: visible;
/*	height: 100%;*/
}

.top-border-bar{ /* top crimson border of portfolio content */
	border-top: 10px solid crimson;
}

.height-320{ /* height of portfolio items */
	height: 320px;
	max-height: 320px;
}

.center-spinner{
	margin: auto !important;
	width: 30px !important;
	height: 30px !important;
}

.border-bottom-bbb{
	border-bottom:  1px solid #dddddd;
}

.bold-500{
	font-weight: 500 !important;
}

/*.center-menu{*/
	/*margin: auto !important;*/
	/*width: 350px !important;*/
/*}*/

.spinner{
    width: 30px;
    height: 30px;
    background-color: transparent;
    border-radius: 50%;
    border: 4px solid crimson;
    border-top: 4px solid transparent;
    margin: 5px;
    
    -webkit-animation-name: spin;
    -webkit-animation-duration: 500ms;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-name: spin;
    -moz-animation-duration: 500ms;
    -moz-animation-iteration-count: infinite;
    -moz-animation-timing-function: linear;
    -ms-animation-name: spin;
    -ms-animation-duration: 500ms;
    -ms-animation-iteration-count: infinite;
    -ms-animation-timing-function: linear;
    
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@-ms-keyframes spin {
    from { -ms-transform: rotate(0deg); }
    to { -ms-transform: rotate(360deg); }
}
@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from { transform:rotate(0deg); }
    to { transform:rotate(360deg); }
}


.bar-btn{
	padding: 5px;
	width: auto;
}

.menu-btn{
	color: #ffffff;
	background: #4e4e4e;
	letter-spacing: 0.1em;
}
	.menu-btn:hover,
	.menu-btn:focus {
		color: #1c1c1c;
		background: #cccccc;
	}

@media only screen and (min-width: 1050px) {
	/* MENU BAR - ONLY FOR LAPTOP SCREENS */
	#trigger-menu-1, #trigger-menu-2, #trigger-menu-3, #trigger-menu-4{
		display: none;
	}

	#menu-1, #menu-2, #menu-3{
		display: inline;
	}
}

/* Arrow Animation */
.hidden-bar {
	display: none;
	height: 50px;
	margin-bottom: 0;
	border-top-left-radius: 0;
	border-bottom-right-radius: 0;
	border-top-right-radius: 0;
}

#arrow-div{
	background-color: #f4f1f1;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	cursor: pointer;
	margin-bottom: 10px;
}

@-webkit-keyframes animate-down {
	50% {
		-webkit-transform: translateY(3px);
		-moz-transform: translateY(3px);
		-o-transform: translateY(3px);
		transform: translateY(3px);
	}

	100% {
		 -webkit-transform: translateY(-3px);
		 -moz-transform: translateY(-3px);
		 -o-transform: translateY(-3px);
		 transform: translateY(-3px);
	}
}

#arrow {
	margin-top: 3px;
	margin-bottom: 3px;

	-webkit-animation: animate-down 1.5s infinite;  /* Safari 4+ */
	-moz-animation: animate-down 1.5s infinite;     /* Fx 5+ */
	-o-animation: animate-down 1.5s infinite;       /* Opera 12+ */
	animation: animate-down 1.5s infinite;          /* IE 10+, Fx 29+ */
}
/* Arrow Animation End */