body{
	background-color: white;
	font-family: "Noto Sans", sans-serif;
	font-size: 18px;
	margin: 0;
	padding: 0;
}

.content{
	color: #333;
	margin: 1%;
	min-width: 400pt !important;
	padding: 5% 10% 10%;
}

.title{
	border: none;
	border-radius: 0;
	color: white;
	font-family: "Poiret One", "Consolas", sans-serif;
	font-size: 7vw;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 5%;
	width: 100%;
}

/*ul{ line-height: 150%; }*/
ul {
	width: 100%;
}


.mild-bold{
	font-weight: 200;
}

.img{
	background-color: #373773;
	display: inline;
	alignment: center;
	width: 80%;
	/*height: 100%;*/
	/*height: 100vmax;*/
}

.google-logo{
	width: 250px;
	height: 100px;
	margin: 2%;
}

/* menu */
.tabs > .tab > a {
	text-decoration: none;
}
.fix-it {
	position: fixed;
	top: 0;
	z-index: 1;
}

/* footer */
.footer{
	width: 100%;
	padding: 5% 10% 5% 10%;
}

/* footer buttons */
.footer > a, .footer > button{
	margin-left: 6pt;
	margin-bottom: 6pt;
}
	@media screen and (max-width:600px) {

		/* full width buttons on mobile devices */
		.footer > a, .footer > button{
			width: 100%;
		}
	}

.label-btn {
	color: white;
	font-size: 100%;
	font-weight: normal;
	cursor: pointer;
}

.link-btn:hover {
	color: white;
	text-decoration: none;
}


/* weird extra stuff */
.pad-0{ padding: 0 !important; }
.pad-1{ padding: 1%; }
.pad-2{ padding: 2%; }
.pad-3{ padding: 3%; }
.pad-4{ padding: 4%; }
.pad-5{ padding: 5%; }

.pad-tb-0{ padding-top: 0 !important; padding-bottom: 0 !important; }
.pad-tb-1{ padding-top: 1%; padding-bottom: 1%; }
.pad-tb-2{ padding-top: 2%; padding-bottom: 2%; }
.pad-tb-3{ padding-top: 3%; padding-bottom: 3%; }
.pad-tb-4{ padding-top: 4%; padding-bottom: 4%; }
.pad-tb-5{ padding-top: 5%; padding-bottom: 5%; }

.pad-t-0{ padding-top: 0 !important; }
.pad-t-1{ padding-top: 1%; }
.pad-t-2{ padding-top: 2%; }
.pad-t-3{ padding-top: 3%; }
.pad-t-4{ padding-top: 4%; }
.pad-t-5{ padding-top: 5%; }

.mar-0{ margin: 0 !important; }
.mar-1{ margin: 1%; }
.mar-2{ margin: 2%; }
.mar-3{ margin: 3%; }
.mar-4{ margin: 4%; }
.mar-5{ margin: 5%; }