body{
	background-color: white;
	font-family: "Noto Sans", sans-serif;
	margin: 0;
	padding: 0;
}

.content{
	color: #333;
	margin: 1%;
	min-width: 400pt !important;
	padding: 5% 10% 10%;
}

.title{
	border: none;
	border-radius: 0;
	color: white;
	font-family: "Poiret One", "Consolas", sans-serif;
	font-size: 7vw;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 5%;
}

/*ul{ line-height: 150%; }*/
ul {
	display: block;
	list-style-type: disc;
	margin: 1em 0;
	padding-left: 40px;
}


.mild-bold{
	font-weight: 200;
}

.img{
	background-color: #373773;
	display: inline;
	alignment: center;
	width: 80%;
	/*height: 100%;*/
	/*height: 100vmax;*/
}



/* menu */
.tabs > .tab > a {
	text-decoration: none;
}
.fix-it {
	position: fixed;
	top: 0;
	z-index: 1;
}

/* footer */
.footer{
	padding: 5% 10% 5% 10%;
}

/* footer buttons */
.footer > a, .footer > button{
	margin-left: 6pt;
	margin-bottom: 6pt;
}
	@media screen and (max-width:600px) {

		/* full width buttons on mobile devices */
		.footer > a, .footer > button{
			width: 100%;
		}
	}

.label-btn {
	color: white;
	font-size: 100%;
	font-weight: normal;
	cursor: pointer;
}

.link-btn:hover {
	color: white;
	text-decoration: none;
}